name: Python CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: MatteoH2O1999/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        working-directory: sdk/identity/azure-identity
        run: |
          pip install --index-url 'https://:2022-04-28T01:43:17.228801Z@time-machines-pypi.sealsecurity.io/' -r dev_requirements.txt
          pip install --index-url 'https://:2022-04-28T01:43:17.228801Z@time-machines-pypi.sealsecurity.io/' msal msal_extensions

      - name: Run tests
        run: cd sdk/identity/azure-identity && python -m pytest
